.footer {
    background-color: var(--orange);
    color: #FD9B63;
    text-align: center;
    padding: 20px 0;
    position: flex;
    width: 100%;
    bottom: 0;
  }
  
  .footer p {
    margin: 0;
  }
  